<video autoplay loop muted id="bgvid">
<!-- <source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm">
 --><source src="https://ia801605.us.archive.org/0/items/NycTrafficTimeLapse/NycTrafficH264.mp4" type="video/mp4">
</video>


<h1 style="color: #FFD700;">Should You Take The Cab Or Subway?</h1>

<%= render 'form' %>

<!--<%= link_to 'Back', trips_path %>
